<!DOCTYPE html>  
<html>  
<head>  
    <title>Create a dog</title>  
</head>  
<body>  
    <form method="post" action="/create">  
        <input type="text" name="Name" placeholder="Dog Name" required />
        <input type="number" name="Age" placeholder="Dog Age" required />
        <input type="submit" value="Add Dog" />
    </form>  
</body>  
</html>