<!DOCTYPE html>  
<html>  
<head>  
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css" />
    <title>Create a dog</title>  
</head>  
<body>  
    <form method="post" action="/create">  
        <input type="text" name="Name" placeholder="Dog Name" required />
        <input type="number" name="Age" placeholder="Dog Age" required />
        <input type="submit" value="Add Dog" />
    </form>  
</body>  
</html>